body{
    margin: 0;
    padding: 0;
    height: 200vh;

}
section.top {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    height: 100vh;
    color: rgb(236, 230, 213);
    background:url(../images/img3.jpg);
    background-size: cover;

}
section.top h2 {
    color: rgb(208, 134, 37);
}
section.top nav ul {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    list-style: none;
}
section.top nav ul li{
    padding: 6px 30px;
    border-radius: 8px;
    color: burlywood;
    /* color: whitesmoke; */

}
section.top nav ul li:hover{
    color: whitesmoke;
    background-color: burlywood;

}

/* =============== carts ======= */
.contaner {
    margin: 40px;
}
section.carts {
    height: 85vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin-top: 10vh; */
    background-color: #2e2216;
    margin: 20px 0 80px 0;
}
section.carts div.cart{

    height: 70vh;
    width: 290px;
    color: antiquewhite;
    background-color: rgb(194 167 138);
    border: 1px wheat solid;
}
section.carts div.cart img{
height: 30vh;
width: 100%;
}
section.carts div.cart p{
line-height: 35px;
padding: 0 20px;
}
section.carts div.cart button{
    width: 90px;
    height: 30px;
    border: none;
    border-radius: 1px;
    background:  rgb(80 37 20);
    margin: 20px;
    color: bisque;
}

/* ==============contact ============= */

section.content {
   
    margin: 70px 0;
    /* height: 50vh; */
}
section.content div.discriotion{
    display: flex;
    padding-bottom: 90px ;
}
section.content div.discriotion img {
    height: 300px;
    /* width: 470px; */
}
section.content div.discriotion p {
    font-size: 18px;
    line-height: 35px;
    padding: 0 45px;
    margin: 0;
}
/* ============= squer-img ============= */
section div.squer-img {
    /* height: 300px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0 100px 0;
}
section div.squer-img div img{
    height: 250px;
    width: 100%;
}
section div.squer-img div{
    background-color: rgb(194 167 138);
    color: blanchedalmond;
    margin: 0 40px 0 0;
}
section div.squer-img :last-child{

    margin: 0;
}
section div.squer-img div p{
    padding: 10px 20px;
}

/* ============================= */
section .con-sec-six .main-body{
    margin: 0 100px 50px 100px;
    height: 260px;
    background: linear-gradient(#2e2216 , rgb(194 167 138));
    display: flex;
    /* border-radius: 40px; */
}
section .con-sec-six .main-body .top {
    display: flex;
    align-items: center;
}
section .con-sec-six .chile {
    height: 100%;
}
section .con-sec-six .left {
    flex: .5;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;


}
section .con-sec-six .center {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
section .con-sec-six .center h2{
    font-size: 30px;
    margin: 0 50px;
}
section .con-sec-six .center form {
    width: 100%;
    height: 60px;
    display: flex;
    /* position: absolute; */
    
}
section .con-sec-six .center form .email{
    width: 100%;
    height: 56px;
    display: flex;
    /* border-radius: 30px; */
    border: none;
    padding-left: 20px;
    margin-left: 60px;
}
section .con-sec-six .center form .submit{
    width: 30%;
    height:50px;
    background-color: var(--main_color);
    color: var(--font_color);
    border-radius: 30px;
    border: none;
    margin-top: 3px;
    z-index: 2;
    position: relative;
    left:-119px;
    cursor: pointer;


}
section .con-sec-six .right {
    flex: .5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

section .con-sec-six .chile img.avarar{
    width: 40px;
    height: 40px;
    /* border-radius: 50%; */
    border: 2px solid var(--font_color);
}
section .con-sec-six .chile img.img-hous1{
    width: 70px;
    height: 70px;
    /* border-radius: 30%; */
    margin-right: 60px;
    border: 2px solid var(--font_color);
}
section .con-sec-six .chile img.img-hous2{
    width: 60px;
    height: 60px;
    /* border-radius: 45%; */
    margin-left: 60px;
    border: 2px solid var(--font_color);
}

/* ============= footer   section  ========== */

section .cont-footer {
    height: 200px;
    margin: 60px 100px ;
    display: flex;
    padding-bottom: 40px;
    margin-top: 40px;
}
section .cont-footer .left {
    height: 100%;
    flex: .8;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
section .cont-footer .right {
    height: 100%;
    flex: 1.2;
    display: flex;
    justify-content: space-around;

}
section .cont-footer .right div ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 30px;
}
section .cont-footer .right div ul :first-child{
    font-size: 22px;
    color: var(--btn_color);
}
 