body{
    margin: 0;
    padding: 0;
    height: 200vh;

}
section.top {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    height: 100vh;
    color: rgb(236, 230, 213);
    background:url(../images/img3.jpg);
    background-size: cover;

}
section.top h2 {
    color: rgb(208, 134, 37);
}
section.top nav ul {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    list-style: none;
}
section.top nav ul li{
    padding: 6px 30px;
    border-radius: 8px;
    color: burlywood;
    /* color: whitesmoke; */

}
section.top nav ul li:hover{
    color: whitesmoke;
    background-color: burlywood;

}

/* =============== carts ======= */
.contaner {
    margin: 40px;
}
section.carts {
    height: 85vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin-top: 10vh; */
    background-color: #2e2216;
    margin: 20px 0 80px 0;
}
section.carts div.cart{

    height: 70vh;
    width: 290px;
    color: antiquewhite;
    background-color: rgb(194 167 138);
    border: 1px wheat solid;
}
section.carts div.cart img{
height: 30vh;
width: 100%;
}
section.carts div.cart p{
line-height: 35px;
padding: 0 20px;
}
section.carts div.cart button{
    width: 90px;
    height: 30px;
    border: none;
    border-radius: 1px;
    background:  rgb(80 37 20);
    margin: 20px;
    color: bisque;
}

/* ==============contact ============= */

section.content {
   
    margin: 70px 0;
    /* height: 50vh; */
}
section.content div.discriotion{
    display: flex;
    padding-bottom: 90px ;
}
section.content div.discriotion img {
    height: 300px;
    /* width: 470px; */
}
section.content div.discriotion p {
    font-size: 18px;
    line-height: 35px;
    padding: 0 45px;
    margin: 0;
}
/* ============= squer-img ============= */
section div.squer-img {
    /* height: 300px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0 100px 0;
}
section div.squer-img div img{
    height: 250px;
    width: 100%;
}
section div.squer-img div{
    background-color: rgb(194 167 138);
    color: blanchedalmond;
    margin: 0 40px 0 0;
}
section div.squer-img :last-child{

    margin: 0;
}
section div.squer-img div p{
    padding: 10px 20px;
}